In [33]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

In [4]:
df = pd.read_csv('keystats.csv', index_col="calendardate")

In [5]:
df.shape

(209342, 110)

In [6]:
list(df.columns)

['ticker',
 'dimension',
 'datekey',
 'reportperiod',
 'lastupdated',
 'accoci',
 'assets',
 'assetsavg',
 'assetsc',
 'assetsnc',
 'assetturnover',
 'bvps',
 'capex',
 'cashneq',
 'cashnequsd',
 'cor',
 'consolinc',
 'currentratio',
 'de',
 'debt',
 'debtc',
 'debtnc',
 'debtusd',
 'deferredrev',
 'depamor',
 'deposits',
 'divyield',
 'dps',
 'ebit',
 'ebitda',
 'ebitdamargin',
 'ebitdausd',
 'ebitusd',
 'ebt',
 'eps',
 'epsdil',
 'epsusd',
 'equity',
 'equityavg',
 'equityusd',
 'ev',
 'evebit',
 'evebitda',
 'fcf',
 'fcfps',
 'fxusd',
 'gp',
 'grossmargin',
 'intangibles',
 'intexp',
 'invcap',
 'invcapavg',
 'inventory',
 'investments',
 'investmentsc',
 'investmentsnc',
 'liabilities',
 'liabilitiesc',
 'liabilitiesnc',
 'marketcap',
 'ncf',
 'ncfbus',
 'ncfcommon',
 'ncfdebt',
 'ncfdiv',
 'ncff',
 'ncfi',
 'ncfinv',
 'ncfo',
 'ncfx',
 'netinc',
 'netinccmn',
 'netinccmnusd',
 'netincdis',
 'netincnci',
 'netmargin',
 'opex',
 'opinc',
 'payables',
 'payoutratio',
 'pb',
 'pe',
 'pe1',
 'ppnenet',
 'prefdivis',
 'price',
 'ps',
 'ps1',
 'receivables',
 'retearn',
 'revenue',
 'revenueusd',
 'rnd',
 'roa',
 'roe',
 'roic',
 'ros',
 'sbcomp',
 'sgna',
 'sharefactor',
 'sharesbas',
 'shareswa',
 'shareswadil',
 'sps',
 'tangibles',
 'taxassets',
 'taxexp',
 'taxliabilities',
 'tbvps',
 'workingcapital']

In [5]:
df1 = df[['ticker',
    'eps','netinc','opinc','ncfo','cashnequsd',
          'de','ebitda','fcf','marketcap','netmargin',
          'pb','pe','ps','workingcapital','ev',
          'divyield','fcfps','revenue','invcap', 'ebit', 'equityusd', 'assets']]

In [74]:
df1.head(10)

,ticker,eps,netinc,opinc,ncfo,cashnequsd,de,ebitda,fcf,marketcap,...,ps,workingcapital,ev,divyield,fcfps,revenue,invcap,ebit,equityusd,assets
calendardate,,,,,,,,,,,,,,,,,,,,,
3/31/2010,A,0.31,108000000.0,154000000.0,225000000.0,4.209000e+09,1.957,197000000.0,197000000.0,1.047669e+10,...,2.225,3.003000e+09,9.161694e+09,0.000,0.566,1.271000e+09,2.973000e+09,161000000.0,2.624000e+09,7.767000e+09
6/30/2010,A,0.59,205000000.0,115000000.0,90000000.0,3.879000e+09,2.245,311000000.0,63000000.0,1.004128e+10,...,1.994,2.818000e+09,9.840276e+09,0.000,0.182,1.384000e+09,4.070000e+09,251000000.0,2.802000e+09,9.100000e+09
9/30/2010,A,0.84,292000000.0,203000000.0,373000000.0,4.205000e+09,2.001,337000000.0,339000000.0,1.412316e+10,...,2.594,3.086000e+09,1.360916e+10,0.000,0.985,1.576000e+09,4.149000e+09,270000000.0,3.228000e+09,9.696000e+09
12/31/2010,A,0.56,193000000.0,211000000.0,120000000.0,2.655000e+09,1.412,284000000.0,82000000.0,1.589288e+10,...,2.764,3.192000e+09,1.537688e+10,0.000,0.236,1.519000e+09,4.207000e+09,221000000.0,3.332000e+09,8.044000e+09
3/31/2011,A,0.58,200000000.0,266000000.0,378000000.0,2.975000e+09,1.186,344000000.0,327000000.0,1.660175e+10,...,2.697,3.504000e+09,1.577075e+10,0.000,0.942,1.677000e+09,4.178000e+09,280000000.0,3.953000e+09,8.649000e+09
6/30/2011,A,0.95,330000000.0,281000000.0,252000000.0,3.101000e+09,1.086,364000000.0,220000000.0,1.239208e+10,...,1.917,3.718000e+09,1.145908e+10,0.000,0.632,1.691000e+09,4.273000e+09,301000000.0,4.192000e+09,8.753000e+09
9/30/2011,A,0.84,289000000.0,313000000.0,510000000.0,3.527000e+09,1.101,379000000.0,461000000.0,1.164827e+10,...,1.761,3.732000e+09,1.030627e+10,0.000,1.329,1.728000e+09,3.882000e+09,316000000.0,4.308000e+09,9.057000e+09
12/31/2011,A,0.66,230000000.0,271000000.0,150000000.0,3.662000e+09,1.023,344000000.0,104000000.0,1.487141e+10,...,2.209,4.010000e+09,1.339041e+10,0.000,0.299,1.635000e+09,3.901000e+09,282000000.0,4.496000e+09,9.099000e+09
3/31/2012,A,0.73,255000000.0,300000000.0,353000000.0,3.896000e+09,0.993,379000000.0,316000000.0,1.314943e+10,...,1.937,4.175000e+09,1.143043e+10,0.003,0.908,1.733000e+09,3.868000e+09,318000000.0,4.722000e+09,9.413000e+09
6/30/2012,A,0.70,243000000.0,270000000.0,240000000.0,1.923000e+09,1.003,346000000.0,191000000.0,1.280180e+10,...,1.877,2.121000e+09,1.309280e+10,0.005,0.549,1.723000e+09,3.923000e+09,262000000.0,4.870000e+09,9.757000e+09

In [75]:
df1.shape

(209342, 23)

In [6]:
df1.dropna(axis=0, how="any", inplace=True)

<ipython-input-6-5969052fb36e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.dropna(axis=0, how="any", inplace=True)

In [77]:
df1.shape

(140824, 23)

In [68]:
#Find zeros in columns
(df1==0).astype(bool).sum(axis=0)

ticker                0
eps                4486
netinc               29
opinc                16
ncfo                 26
cashnequsd          449
de                   52
ebitda               14
fcf                  29
marketcap             0
netmargin           403
pb                    4
pe                    3
ps                   10
workingcapital        6
ev                    0
divyield          91208
fcfps               722
revenue               0
dtype: int64

In [69]:
#Find NAs in columns
print(df1.isnull().sum())

ticker            0
eps               0
netinc            0
opinc             0
ncfo              0
cashnequsd        0
de                0
ebitda            0
fcf               0
marketcap         0
netmargin         0
pb                0
pe                0
ps                0
workingcapital    0
ev                0
divyield          0
fcfps             0
revenue           0
dtype: int64

In [29]:
df.earnings = df1[['eps','netinc','opinc','ncfo','ebitda',
                 'fcf','netmargin','divyield','fcfps','revenue']]
df.ratio = df1[['pb','pe','ps']]
df.value = df1[['workingcapital','ev','marketcap','cashnequsd']]
df.other = df1['de']

In [30]:
df.earnings = df.earnings.fillna(0)
df.ratio = df.ratio.fillna(0)
df.other = df.other.fillna(0)
df.value = df.value.fillna(df.value.mean())

In [31]:
new = pd.concat([df.ratio,df.earnings,df.other,df.value],axis=1)

In [33]:
new.head(10)

,pb,pe,ps,eps,netinc,opinc,ncfo,ebitda,fcf,netmargin,divyield,fcfps,revenue,de,workingcapital,ev,marketcap,cashnequsd
calendardate,,,,,,,,,,,,,,,,,,
3/31/2010,3.993,54.283,2.225,0.31,108000000.0,154000000.0,225000000.0,197000000.0,197000000.0,0.085,0.000,0.566,1.271000e+09,1.957,3.003000e+09,9.161694e+09,1.047669e+10,4.209000e+09
6/30/2010,3.584,24.080,1.994,0.59,205000000.0,115000000.0,90000000.0,311000000.0,63000000.0,0.148,0.000,0.182,1.384000e+09,2.245,2.818000e+09,9.840276e+09,1.004128e+10,3.879000e+09
9/30/2010,4.375,20.648,2.594,0.84,292000000.0,203000000.0,373000000.0,337000000.0,339000000.0,0.185,0.000,0.985,1.576000e+09,2.001,3.086000e+09,1.360916e+10,1.412316e+10,4.205000e+09
12/31/2010,4.770,19.916,2.764,0.56,193000000.0,211000000.0,120000000.0,284000000.0,82000000.0,0.127,0.000,0.236,1.519000e+09,1.412,3.192000e+09,1.537688e+10,1.589288e+10,2.655000e+09
3/31/2011,4.200,18.654,2.697,0.58,200000000.0,266000000.0,378000000.0,344000000.0,327000000.0,0.119,0.000,0.942,1.677000e+09,1.186,3.504000e+09,1.577075e+10,1.660175e+10,2.975000e+09
6/30/2011,2.956,12.209,1.917,0.95,330000000.0,281000000.0,252000000.0,364000000.0,220000000.0,0.195,0.000,0.632,1.691000e+09,1.086,3.718000e+09,1.145908e+10,1.239208e+10,3.101000e+09
9/30/2011,2.704,11.510,1.761,0.84,289000000.0,313000000.0,510000000.0,379000000.0,461000000.0,0.167,0.000,1.329,1.728000e+09,1.101,3.732000e+09,1.030627e+10,1.164827e+10,3.527000e+09
12/31/2011,3.308,14.177,2.209,0.66,230000000.0,271000000.0,150000000.0,344000000.0,104000000.0,0.141,0.000,0.299,1.635000e+09,1.023,4.010000e+09,1.339041e+10,1.487141e+10,3.662000e+09
3/31/2012,2.785,11.911,1.937,0.73,255000000.0,300000000.0,353000000.0,379000000.0,316000000.0,0.147,0.003,0.908,1.733000e+09,0.993,4.175000e+09,1.143043e+10,1.314943e+10,3.896000e+09
6/30/2012,2.629,12.588,1.877,0.70,243000000.0,270000000.0,240000000.0,346000000.0,191000000.0,0.141,0.005,0.549,1.723000e+09,1.003,2.121000e+09,1.309280e+10,1.280180e+10,1.923000e+09

In [145]:
# Recheck NAs
print(new.isnull().sum())

pb                0
pe                0
ps                0
eps               0
netinc            0
opinc             0
ncfo              0
ebitda            0
fcf               0
netmargin         0
divyield          0
fcfps             0
revenue           0
de                0
workingcapital    0
ev                0
marketcap         0
cashnequsd        0
dtype: int64

In [7]:
#ROE, ROA, ROICCalculation
df2 = df1[['equityusd','netinc','assets','invcap','ebit']]

In [83]:
df2.head(10)

,equityusd,netinc,assets,invcap,ebit
calendardate,,,,,
3/31/2010,2.624000e+09,108000000.0,7.767000e+09,2.973000e+09,161000000.0
6/30/2010,2.802000e+09,205000000.0,9.100000e+09,4.070000e+09,251000000.0
9/30/2010,3.228000e+09,292000000.0,9.696000e+09,4.149000e+09,270000000.0
12/31/2010,3.332000e+09,193000000.0,8.044000e+09,4.207000e+09,221000000.0
3/31/2011,3.953000e+09,200000000.0,8.649000e+09,4.178000e+09,280000000.0
6/30/2011,4.192000e+09,330000000.0,8.753000e+09,4.273000e+09,301000000.0
9/30/2011,4.308000e+09,289000000.0,9.057000e+09,3.882000e+09,316000000.0
12/31/2011,4.496000e+09,230000000.0,9.099000e+09,3.901000e+09,282000000.0
3/31/2012,4.722000e+09,255000000.0,9.413000e+09,3.868000e+09,318000000.0
6/30/2012,4.870000e+09,243000000.0,9.757000e+09,3.923000e+09,262000000.0

In [21]:
(df2==0).astype(bool).sum(axis=0)

equityusd     0
netinc       29
assets        0
invcap        1
ebit         17
roe          29
roa          29
roic         29
dtype: int64

In [81]:
df2 = df2.fillna(0)

In [20]:
# Recheck NAs
print(df2.isnull().sum())

equityusd    0
netinc       0
assets       0
invcap       0
ebit         0
roe          0
roa          0
roic         0
dtype: int64

In [11]:
df2['roe']= df2['netinc'] / df2['equityusd']
df2['roa'] = df2['netinc'] / df2['assets']
df2['roic'] = df2['netinc'] / df2['invcap']

<ipython-input-11-5a0e01c60b6e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['roe']= df2['netinc'] / df2['equityusd']
<ipython-input-11-5a0e01c60b6e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['roa'] = df2['netinc'] / df2['assets']
<ipython-input-11-5a0e01c60b6e>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['roic'] = df2['netinc'] / df2['invcap']

In [12]:
df2.head(10)

,equityusd,netinc,assets,invcap,ebit,roe,roa,roic
calendardate,,,,,,,,
3/31/2010,2.624000e+09,108000000.0,7.767000e+09,2.973000e+09,161000000.0,0.041159,0.013905,0.036327
6/30/2010,2.802000e+09,205000000.0,9.100000e+09,4.070000e+09,251000000.0,0.073162,0.022527,0.050369
9/30/2010,3.228000e+09,292000000.0,9.696000e+09,4.149000e+09,270000000.0,0.090458,0.030116,0.070378
12/31/2010,3.332000e+09,193000000.0,8.044000e+09,4.207000e+09,221000000.0,0.057923,0.023993,0.045876
3/31/2011,3.953000e+09,200000000.0,8.649000e+09,4.178000e+09,280000000.0,0.050594,0.023124,0.047870
6/30/2011,4.192000e+09,330000000.0,8.753000e+09,4.273000e+09,301000000.0,0.078721,0.037701,0.077229
9/30/2011,4.308000e+09,289000000.0,9.057000e+09,3.882000e+09,316000000.0,0.067084,0.031909,0.074446
12/31/2011,4.496000e+09,230000000.0,9.099000e+09,3.901000e+09,282000000.0,0.051157,0.025278,0.058959
3/31/2012,4.722000e+09,255000000.0,9.413000e+09,3.868000e+09,318000000.0,0.054003,0.027090,0.065926
6/30/2012,4.870000e+09,243000000.0,9.757000e+09,3.923000e+09,262000000.0,0.049897,0.024905,0.061942

In [13]:
ratio_cal = df2[['roe','roa','roic']]

In [49]:
# Recheck NAs
print(ratio_cal.isnull().sum())
ratio_cal=ratio_cal.fillna(0)

roe     36
roa     32
roic    43
dtype: int64

In [16]:
#ticker, dim, etc.
info = df1.iloc[:,0]
info.head(10)

calendardate
3/31/2010     A
6/30/2010     A
9/30/2010     A
12/31/2010    A
3/31/2011     A
6/30/2011     A
9/30/2011     A
12/31/2011    A
3/31/2012     A
6/30/2012     A
Name: ticker, dtype: object

In [17]:
#Combine info, ratio_cal, and new.
#keystats_new = pd.concat([info, new, ratio_cal], axis =1)
keystats_new = pd.concat([df1, ratio_cal], axis =1)

In [18]:
keystats_new.shape

(140824, 26)

In [19]:
# Recheck NAs
print(keystats_new.isnull().sum())

ticker            0
eps               0
netinc            0
opinc             0
ncfo              0
cashnequsd        0
de                0
ebitda            0
fcf               0
marketcap         0
netmargin         0
pb                0
pe                0
ps                0
workingcapital    0
ev                0
divyield          0
fcfps             0
revenue           0
invcap            0
ebit              0
equityusd         0
assets            0
roe               0
roa               0
roic              0
dtype: int64

In [24]:
pricedata = pd.read_csv('keystats_to_train.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'keystats_to_train.csv'

In [224]:
pricedata = pricedata[['stock_price','sp500_price','stock_p_change','sp500_p_change']]

In [225]:
pricedata.head(10)

   stock_price  sp500_price  stock_p_change  sp500_p_change
0    22.610779    94.826889            6.54            2.03
1    18.692194    84.056419            1.23            7.37
2    21.940151    93.438423            4.64            3.74
3    27.239445   103.493202           -1.09            1.57
4    29.442015   109.596611           12.37            2.65
5    33.603867   109.624939          -17.47           -1.33
6    20.546291    94.477806           30.85           13.65
7    22.965818   105.454376           22.19            5.04
8    29.330460   118.837509           -4.38           -0.30
9    25.926455   115.457634           -3.31            1.90

In [226]:
keystats_new = pd.concat([keystats_new, pricedata],axis=1)

In [227]:
keystats_new.head(10)

,calendardate,ticker,dimension,datekey,reportperiod,lastupdated,pb,pe,ps,eps,...,ev,marketcap,cashnequsd,roe,roa,roic,stock_price,sp500_price,stock_p_change,sp500_p_change
0,3/31/2010,A,ARQ,6/7/2010,4/30/2010,9/1/2020,3.993,54.283,2.225,0.31,...,9.161694e+09,1.047669e+10,4.209000e+09,0.041159,0.013905,0.036327,22.610779,94.826889,6.54,2.03
1,6/30/2010,A,ARQ,9/7/2010,7/31/2010,9/1/2020,3.584,24.080,1.994,0.59,...,9.840276e+09,1.004128e+10,3.879000e+09,0.073162,0.022527,0.050369,18.692194,84.056419,1.23,7.37
2,9/30/2010,A,ARQ,12/20/2010,10/31/2010,9/1/2020,4.375,20.648,2.594,0.84,...,1.360916e+10,1.412316e+10,4.205000e+09,0.090458,0.030116,0.070378,21.940151,93.438423,4.64,3.74
3,12/31/2010,A,ARQ,3/9/2011,1/31/2011,9/1/2020,4.770,19.916,2.764,0.56,...,1.537688e+10,1.589288e+10,2.655000e+09,0.057923,0.023993,0.045876,27.239445,103.493202,-1.09,1.57
4,3/31/2011,A,ARQ,6/7/2011,4/30/2011,9/1/2020,4.200,18.654,2.697,0.58,...,1.577075e+10,1.660175e+10,2.975000e+09,0.050594,0.023124,0.047870,29.442015,109.596611,12.37,2.65
5,6/30/2011,A,ARQ,9/7/2011,7/31/2011,9/1/2020,2.956,12.209,1.917,0.95,...,1.145908e+10,1.239208e+10,3.101000e+09,0.078721,0.037701,0.077229,33.603867,109.624939,-17.47,-1.33
6,9/30/2011,A,ARQ,12/16/2011,10/31/2011,9/1/2020,2.704,11.510,1.761,0.84,...,1.030627e+10,1.164827e+10,3.527000e+09,0.067084,0.031909,0.074446,20.546291,94.477806,30.85,13.65
7,12/31/2011,A,ARQ,3/5/2012,1/31/2012,9/1/2020,3.308,14.177,2.209,0.66,...,1.339041e+10,1.487141e+10,3.662000e+09,0.051157,0.025278,0.058959,22.965818,105.454376,22.19,5.04
8,3/31/2012,A,ARQ,6/4/2012,4/30/2012,9/1/2020,2.785,11.911,1.937,0.73,...,1.143043e+10,1.314943e+10,3.896000e+09,0.054003,0.027090,0.065926,29.330460,118.837509,-4.38,-0.30
9,6/30/2012,A,ARQ,9/5/2012,7/31/2012,9/1/2020,2.629,12.588,1.877,0.70,...,1.309280e+10,1.280180e+10,1.923000e+09,0.049897,0.024905,0.061942,25.926455,115.457634,-3.31,1.90

In [228]:
# Recheck NAs
print(keystats_new.isnull().sum())

calendardate          0
ticker                0
dimension             0
datekey               0
reportperiod          0
lastupdated           0
pb                    0
pe                    0
ps                    0
eps                   0
netinc                0
opinc                 0
ncfo                  0
ebitda                0
fcf                   0
netmargin             0
divyield              0
fcfps                 0
revenue               0
de                    0
workingcapital        0
ev                    0
marketcap             0
cashnequsd            0
roe                   0
roa                   0
roic                  0
stock_price       48807
sp500_price       48807
stock_p_change    48807
sp500_p_change    48807
dtype: int64

In [229]:
keystats_new = keystats_new.dropna()

In [28]:
# Recheck NAs
print(keystats_new.isnull().sum())

ticker            0
eps               0
netinc            0
opinc             0
ncfo              0
cashnequsd        0
de                0
ebitda            0
fcf               0
marketcap         0
netmargin         0
pb                0
pe                0
ps                0
workingcapital    0
ev                0
divyield          0
fcfps             0
revenue           0
invcap            0
ebit              0
equityusd         0
assets            0
roe               0
roa               0
roic              0
dtype: int64

In [26]:
keystats_new.shape

(140824, 26)

In [25]:
keystats_new.to_csv("keystats_new.csv")

In [34]:
#adding stock price with keystat

stock_price = []
sp500_price = []
stock_1m_price = []
sp500_1m_price = []
stock_p_change = []
sp500_p_change = []
for i in range(keystats_new.shape[0]):
#for i in range(100):    
    current_date = keystats_new.index[i]
    one_month_date = datetime.strptime(keystats_new.index[i],"%m/%d/%Y") + timedelta(weeks = 4)
    one_month_date = one_month_date.strftime("%m/%d/%Y")
    try:
        stock_price_i = float(stock_df.loc[current_date, keystats_new.ticker[i]])
        stock_1m_price_i = float(stock_df.loc[one_month_date, keystats_new.ticker[i]])
        sp500_price_i = float(sp500_df.loc[current_date, "Adj Close"])
        sp500_1m_price_i = float(sp500_df.loc[one_month_date, "Adj Close"])
        stock_p_change_i = round(
                ((stock_1m_price_i - stock_price_i) / stock_price_i * 100), 2
        )
        sp500_p_change_i = round(
                ((sp500_1m_price_i - sp500_price_i) / sp500_price_i * 100), 2
        )
    except KeyError:
        stock_price_i = "N/A"
        stock_1m_price_i = "N/A"
        sp500_price_i = "N/A"
        sp500_1m_price_i = "N/A"
        stock_p_change_i = "N/A"
        sp500_p_change_i = "N/A"
    stock_price.append(stock_price_i)
    stock_1m_price.append(stock_1m_price_i)
    sp500_price.append(sp500_price_i)
    sp500_1m_price.append(sp500_1m_price_i)   
    stock_p_change.append(stock_p_change_i)
    sp500_p_change.append(sp500_p_change_i)
    
keystats_new["stock_price"] = stock_price
keystats_new["sp500_price"] = sp500_price
keystats_new["stock_p_change"] = stock_p_change
keystats_new["sp500_p_change"] = sp500_p_change

#keystats_new.dropna(axis=0, subset=["stock_price", "stock_p_change"], inplace=True)

NameError: name 'stock_df' is not defined