In [1]:
import pandas as pd
from pandas_datareader import data as pdr
from datetime import datetime

In [2]:
df_raw = pd.read_csv(r"SHARADAR_SF1.csv",index_col="calendardate")

In [3]:
is_ARQ = df_raw['dimension'] == 'ARQ'
df_Quarter = df_raw[is_ARQ]
df_Quarter.head()

,ticker,dimension,datekey,reportperiod,lastupdated,accoci,assets,assetsavg,assetsc,assetsnc,...,sharesbas,shareswa,shareswadil,sps,tangibles,taxassets,taxexp,taxliabilities,tbvps,workingcapital
calendardate,,,,,,,,,,,,,,,,,,,,,
3/31/2010,A,ARQ,6/7/2010,4/30/2010,9/1/2020,-239000000.0,7.767000e+09,NaN,5.712000e+09,2.055000e+09,...,348062907.0,348000000.0,354000000.0,3.652,6.997000e+09,0.0,31000000.0,0.0,20.106,3.003000e+09
6/30/2010,A,ARQ,9/7/2010,7/31/2010,9/1/2020,-225000000.0,9.100000e+09,NaN,5.735000e+09,3.365000e+09,...,346370351.0,347000000.0,352000000.0,3.988,7.188000e+09,0.0,22000000.0,0.0,20.715,2.818000e+09
9/30/2010,A,ARQ,12/20/2010,10/31/2010,9/1/2020,-88000000.0,9.696000e+09,NaN,6.169000e+09,3.527000e+09,...,347604202.0,344000000.0,356000000.0,4.581,7.746000e+09,0.0,-49000000.0,0.0,22.517,3.086000e+09
12/31/2010,A,ARQ,3/9/2011,1/31/2011,9/1/2020,-63000000.0,8.044000e+09,NaN,4.598000e+09,3.446000e+09,...,345122160.0,347000000.0,355000000.0,4.378,6.129000e+09,0.0,5000000.0,0.0,17.663,3.192000e+09
3/31/2011,A,ARQ,6/7/2011,4/30/2011,9/1/2020,278000000.0,8.649000e+09,NaN,5.096000e+09,3.553000e+09,...,348045143.0,347000000.0,355000000.0,4.833,6.601000e+09,0.0,60000000.0,0.0,19.023,3.504000e+09

In [169]:
df_Quarter.shape

(209342, 110)

In [170]:
df_Quarter.to_csv('keystats.csv')

In [28]:
START_DATE = "2010-01-01"
END_DATE = "2020-11-01"

In [29]:
def build_sp500_dataset(start=START_DATE, end=END_DATE):
    """
    Creates the dataset containing S&P500 prices
    :returns: sp500_index.csv
    """
    index_data = pdr.get_data_yahoo("SPY", start=START_DATE, end=END_DATE)
    index_data.to_csv("sp500_index.csv")

In [30]:
build_sp500_dataset()

In [ ]:
ticker_list = df_Quarter.ticker.drop_duplicates().tolist()
ticker_list

In [36]:
def build_stock_dataset(start=START_DATE, end=END_DATE):
    """
    Creates the dataset containing all stock prices
    :returns: stock_prices.csv
    """
    ticker_list = df_Quarter.ticker.drop_duplicates().tolist()

    # Get all Adjusted Close prices for all the tickers in our list,
    # between START_DATE and END_DATE
    all_data = pdr.get_data_yahoo(ticker_list, start, end)
    stock_data = all_data["Adj Close"]

    # Remove any columns that hold no data, and print their tickers.
    stock_data.dropna(how="all", axis=1, inplace=True)
    missing_tickers = [
        ticker for ticker in ticker_list if ticker.upper() not in stock_data.columns
    ]
    print(f"{len(missing_tickers)} tickers are missing: \n {missing_tickers} ")
    # If there are only some missing datapoints, forward fill.
    stock_data.ffill(inplace=True)
    stock_data.to_csv("stock_prices.csv")

In [ ]:
build_stock_dataset()

In [378]:
data_df = pd.read_csv("keystats_new.csv", index_col="calendardate")

In [105]:
data_df.dropna(axis=1, how="all", inplace=True)
data_df.head()

,Unnamed: 0,ticker,dimension,datekey,reportperiod,lastupdated,accoci,assets,assetsc,assetsnc,...,sharesbas,shareswa,shareswadil,sps,tangibles,taxassets,taxexp,taxliabilities,tbvps,workingcapital
calendardate,,,,,,,,,,,,,,,,,,,,,
3/31/2010,0,A,ARQ,6/7/2010,4/30/2010,9/1/2020,-239000000.0,7.767000e+09,5.712000e+09,2.055000e+09,...,348062907.0,348000000.0,354000000.0,3.652,6.997000e+09,0.0,31000000.0,0.0,20.106,3.003000e+09
6/30/2010,1,A,ARQ,9/7/2010,7/31/2010,9/1/2020,-225000000.0,9.100000e+09,5.735000e+09,3.365000e+09,...,346370351.0,347000000.0,352000000.0,3.988,7.188000e+09,0.0,22000000.0,0.0,20.715,2.818000e+09
9/30/2010,2,A,ARQ,12/20/2010,10/31/2010,9/1/2020,-88000000.0,9.696000e+09,6.169000e+09,3.527000e+09,...,347604202.0,344000000.0,356000000.0,4.581,7.746000e+09,0.0,-49000000.0,0.0,22.517,3.086000e+09
12/31/2010,3,A,ARQ,3/9/2011,1/31/2011,9/1/2020,-63000000.0,8.044000e+09,4.598000e+09,3.446000e+09,...,345122160.0,347000000.0,355000000.0,4.378,6.129000e+09,0.0,5000000.0,0.0,17.663,3.192000e+09
3/31/2011,4,A,ARQ,6/7/2011,4/30/2011,9/1/2020,278000000.0,8.649000e+09,5.096000e+09,3.553000e+09,...,348045143.0,347000000.0,355000000.0,4.833,6.601000e+09,0.0,60000000.0,0.0,19.023,3.504000e+09

In [379]:
data_df.shape

(140824, 26)

In [93]:
def preprocess_price_data():
    """
    Currently, the sp500 and stock price datasets we downloaded do not have any data for
    days when the market was closed (weekends and public holidays). We need to amend this so that
    all rows are included. Doing this now saves a lot of effort when we actually create the
    keystats dataset, which requires that we have stock data every day.
    :return: SP500 and stock dataframes, with no missing rows.
    """
    # Read in SP500 data and stock data, parsing the dates.
    sp500_raw_data = pd.read_csv("sp500_index.csv", index_col="Date", parse_dates=True)
    stock_raw_data = pd.read_csv("stock_prices.csv", index_col="Date", parse_dates=True)

    # We will reindex to include the weekends.
    start_date = str(stock_raw_data.index[0])
    end_date = str(stock_raw_data.index[-1])
    idx = pd.date_range(start_date, end_date)
    sp500_raw_data = sp500_raw_data.reindex(idx)
    stock_raw_data = stock_raw_data.reindex(idx)

    # Now the weekends are NaN, so we fill forward these NaNs
    # (i.e weekends take the value of Friday's adjusted close).
    sp500_raw_data.ffill(inplace=True)
    stock_raw_data.ffill(inplace=True)

    return sp500_raw_data, stock_raw_data

In [94]:
sp500_df, stock_df = preprocess_price_data()

In [395]:
#adding stock price with keystat

stock_price = []
sp500_price = []
stock_1m_price = []
sp500_1m_price = []
stock_p_change = []
sp500_p_change = []
for i in range(data_df.shape[0]):
#for i in range(100):    
    current_date = data_df.index[i]
    one_month_date = datetime.strptime(data_df.index[i],"%m/%d/%Y") + timedelta(weeks = 4)
    one_month_date = one_month_date.strftime("%m/%d/%Y")
    try:
        stock_price_i = float(stock_df.loc[current_date, data_df.ticker[i]])
        stock_1m_price_i = float(stock_df.loc[one_month_date, data_df.ticker[i]])
        sp500_price_i = float(sp500_df.loc[current_date, "Adj Close"])
        sp500_1m_price_i = float(sp500_df.loc[one_month_date, "Adj Close"])
        stock_p_change_i = round(
                ((stock_1m_price_i - stock_price_i) / stock_price_i * 100), 2
        )
        sp500_p_change_i = round(
                ((sp500_1m_price_i - sp500_price_i) / sp500_price_i * 100), 2
        )
    except KeyError:
        stock_price_i = None
        stock_1m_price_i = None
        sp500_price_i = None
        sp500_1m_price_i = None
        stock_p_change_i = None
        sp500_p_change_i = None
    stock_price.append(stock_price_i)
    stock_1m_price.append(stock_1m_price_i)
    sp500_price.append(sp500_price_i)
    sp500_1m_price.append(sp500_1m_price_i)   
    stock_p_change.append(stock_p_change_i)
    sp500_p_change.append(sp500_p_change_i)
    
data_df["stock_price"] = stock_price
data_df["sp500_price"] = sp500_price
data_df["stock_p_change"] = stock_p_change
data_df["sp500_p_change"] = sp500_p_change

data_df.dropna(axis=0, subset=["stock_price", "stock_p_change"], inplace=True)

In [398]:
data_df.shape
#print(data_df.isnull().sum())

(110605, 30)

In [273]:
#backtest 
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import precision_score
from utils import status_calc

In [263]:
backtest_df = pd.read_csv("keystats_new.csv", index_col="calendardate")

In [311]:
backtest_df.dropna(axis=0, how="any", inplace=True)

In [399]:
backtest_df = data_df

In [400]:
print(backtest_df['roa'].isnull().sum())

0

In [401]:
backtest_df.isnull().values.any()

False

In [403]:
backtest_df.head()

,ticker,eps,netinc,opinc,ncfo,cashnequsd,de,ebitda,fcf,marketcap,...,ebit,equityusd,assets,roe,roa,roic,stock_price,sp500_price,stock_p_change,sp500_p_change
calendardate,,,,,,,,,,,,,,,,,,,,,
3/31/2010,A,0.31,108000000.0,154000000.0,225000000.0,4.209000e+09,1.957,197000000.0,197000000.0,1.047669e+10,...,161000000.0,2.624000e+09,7.767000e+09,0.041159,0.013905,0.036327,22.610779,94.826889,6.54,2.03
6/30/2010,A,0.59,205000000.0,115000000.0,90000000.0,3.879000e+09,2.245,311000000.0,63000000.0,1.004128e+10,...,251000000.0,2.802000e+09,9.100000e+09,0.073162,0.022527,0.050369,18.692194,84.056419,1.23,7.37
9/30/2010,A,0.84,292000000.0,203000000.0,373000000.0,4.205000e+09,2.001,337000000.0,339000000.0,1.412316e+10,...,270000000.0,3.228000e+09,9.696000e+09,0.090458,0.030116,0.070378,21.940151,93.438423,4.64,3.74
12/31/2010,A,0.56,193000000.0,211000000.0,120000000.0,2.655000e+09,1.412,284000000.0,82000000.0,1.589288e+10,...,221000000.0,3.332000e+09,8.044000e+09,0.057923,0.023993,0.045876,27.239445,103.493202,-1.09,1.57
3/31/2011,A,0.58,200000000.0,266000000.0,378000000.0,2.975000e+09,1.186,344000000.0,327000000.0,1.660175e+10,...,280000000.0,3.953000e+09,8.649000e+09,0.050594,0.023124,0.047870,29.442015,109.596611,12.37,2.65

In [405]:
features = backtest_df.columns[-5]
#features
X = backtest_df[features].values
X

array([ 0.03632694,  0.05036855,  0.0703784 , ..., -0.02683861,
        0.03452139,  0.06851742])

In [407]:
array_sum = np.sum(X)
#array_sum
array_has_nan = np.isnan(array_sum)
array_has_nan

False

In [408]:
np.isnan(X)

array([False, False, False, ..., False, False, False])

In [409]:
list(map(tuple, np.where(np.isnan(X))))

[()]

In [410]:
def backtest():
    """
    A simple backtest, which splits the dataset into a train set and test set,
    then fits a Random Forest classifier to the train set. We print the precision and accuracy
    of the classifier on the test set, then run a backtest comparing this strategy's performance
    to passive investment in the S&P500.
    Please note that there is a methodological flaw in this backtest which will give deceptively
    good results, so the results here should not encourage you to live trade.
    """
    # Build the dataset, and drop any rows with missing values
    #backtest_df = pd.read_csv("keystats_new.csv", index_col="calendardate")
    #backtest_df.dropna(axis=0, how="any", inplace=True)

    features = backtest_df.columns[1:-4]
    X = backtest_df[features].values

    # The labels are generated by applying the status_calc to the dataframe.
    # '1' if a stock beats the S&P500 by more than x%, else '0'. Here x is the
    # outperformance parameter, which is set to 10 by default but can be redefined.
    y = list(
        status_calc(
            backtest_df["stock_p_change"], backtest_df["sp500_p_change"], outperformance=10
        )
    )

    # z is required for us to track returns
    z = np.array(backtest_df[["stock_p_change", "sp500_p_change"]])

    # Generate the train set and test set by randomly splitting the dataset
    X_train, X_test, y_train, y_test, z_train, z_test = train_test_split(
        X, y, z, test_size=0.2
    )

    # Instantiate a RandomForestClassifier with 100 trees, then fit it to the training data
    clf = RandomForestClassifier(n_estimators=100, random_state=0)
    clf.fit(X_train, y_train)

    # Generate the predictions, then print test set accuracy and precision
    y_pred = clf.predict(X_test)
    print("Classifier performance\n", "=" * 20)
    print(f"Accuracy score: {clf.score(X_test, y_test): .2f}")
    print(f"Precision score: {precision_score(y_test, y_pred): .2f}")

    # Because y_pred is an array of 1s and 0s, the number of positive predictions
    # is equal to the sum of the array
    num_positive_predictions = sum(y_pred)
    if num_positive_predictions < 0:
        print("No stocks predicted!")

    # Recall that z_test stores the change in stock price in column 0, and the
    # change in S&P500 price in column 1.
    # Whenever a stock is predicted to outperform (y_pred = 1), we 'buy' that stock
    # and simultaneously `buy` the index for comparison.
    stock_returns = 1 + z_test[y_pred, 0] / 100
    market_returns = 1 + z_test[y_pred, 1] / 100

    # Calculate the average growth for each stock we predicted 'buy'
    # and the corresponding index growth
    avg_predicted_stock_growth = sum(stock_returns) / num_positive_predictions
    index_growth = sum(market_returns) / num_positive_predictions
    percentage_stock_returns = 100 * (avg_predicted_stock_growth - 1)
    percentage_market_returns = 100 * (index_growth - 1)
    total_outperformance = percentage_stock_returns - percentage_market_returns

    print("\n Stock prediction performance report \n", "=" * 40)
    print(f"Total Trades:", num_positive_predictions)
    print(f"Average return for stock predictions: {percentage_stock_returns: .1f} %")
    print(
        f"Average market return in the same period: {percentage_market_returns: .1f}% "
    )
    print(
        f"Compared to the index, our strategy earns {total_outperformance: .1f} percentage points more"
    )

In [411]:
backtest()

Classifier performance
 ====================
Accuracy score:  0.86
Precision score:  0.64

 Stock prediction performance report
 ========================================
Total Trades: 153
Average return for stock predictions:  25.7 %
Average market return in the same period:  2.8%
Compared to the index, our strategy earns  23.0 percentage points more

In [441]:
lastest_i = data_df.loc[data_df["ticker"] == "A"].tail(1)
lastest_i

,ticker,eps,netinc,opinc,ncfo,cashnequsd,de,ebitda,fcf,marketcap,...,ebit,equityusd,assets,roe,roa,roic,stock_price,sp500_price,stock_p_change,sp500_p_change
calendardate,,,,,,,,,,,,,,,,,,,,,
6/30/2020,A,0.64,199000000.0,230000000.0,290000000.0,1.358000e+09,0.916,315000000.0,266000000.0,3.117627e+10,...,238000000.0,4.981000e+09,9.546000e+09,0.039952,0.020846,0.042206,88.210953,307.130554,7.84,4.15

In [435]:
lastest_keystat = pd.DataFrame()

In [444]:
lastest_keystat = lastest_keystat.append(lastest_i)

In [445]:
lastest_keystat

,ticker,eps,netinc,opinc,ncfo,cashnequsd,de,ebitda,fcf,marketcap,...,ebit,equityusd,assets,roe,roa,roic,stock_price,sp500_price,stock_p_change,sp500_p_change
calendardate,,,,,,,,,,,,,,,,,,,,,
9/30/2020,AAPL,0.748,1.267300e+10,1.477500e+10,2.057600e+10,3.801600e+10,3.957,1.760300e+10,1.879200e+10,1.960650e+12,...,1.490100e+10,6.533900e+10,3.238880e+11,0.193958,0.039128,0.043265,115.809998,334.890015,-3.98,-2.46
6/30/2020,A,0.640,1.990000e+08,2.300000e+08,2.900000e+08,1.358000e+09,0.916,3.150000e+08,2.660000e+08,3.117627e+10,...,2.380000e+08,4.981000e+09,9.546000e+09,0.039952,0.020846,0.042206,88.210953,307.130554,7.84,4.15

In [446]:
data_df.ticker

calendardate
3/31/2010        A
6/30/2010        A
9/30/2010        A
12/31/2010       A
3/31/2011        A
              ...
9/30/2020      CLW
9/30/2020     AVNS
9/30/2020      ICD
9/30/2020     PRLB
9/30/2020     ZBRA
Name: ticker, Length: 110605, dtype: object

In [496]:
ticker_list = data_df.ticker.drop_duplicates().tolist()
len(ticker_list)

3942

In [497]:
data_df.shape

(110605, 30)

In [502]:
lastest_keystat = pd.DataFrame() 
train_keystat = pd.DataFrame() 
for i in ticker_list:
    try:
        lastest_i = data_df.loc[data_df["ticker"] == i].tail(1)
        train_i = data_df.loc[data_df["ticker"] == i].iloc[:-1]
    except:
        continue
    lastest_keystat = lastest_keystat.append(lastest_i)
    train_keystat = train_keystat.append(train_i)

In [503]:
lastest_keystat.shape

(3942, 30)

In [504]:
train_keystat.shape

(106663, 30)

In [507]:
train_keystat.to_csv("ketstats_to_train.csv", index = True)
lastest_keystat.to_csv("forward_sample.csv", index = True)

In [510]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from utils import data_string_to_float, status_calc


# The percentage by which a stock has to beat the S&P500 to be considered a 'buy'
OUTPERFORMANCE = 10


def build_data_set():
    """
    Reads the keystats.csv file and prepares it for scikit-learn
    :return: X_train and y_train numpy arrays
    """
    #training_data = pd.read_csv("ketstats_to_train.csv", index_col="Date")
    training_data = train_keystat
    training_data.dropna(axis=0, how="any", inplace=True)
    features = training_data.columns[1:-4]

    X_train = training_data[features].values
    # Generate the labels: '1' if a stock beats the S&P500 by more than 10%, else '0'.
    y_train = list(
        status_calc(
            training_data["stock_p_change"],
            training_data["sp500_p_change"],
            OUTPERFORMANCE,
        )
    )

    return X_train, y_train


def predict_stocks():
    X_train, y_train = build_data_set()
    # Remove the random_state parameter to generate actual predictions
    clf = RandomForestClassifier(n_estimators=100, random_state=0)
    clf.fit(X_train, y_train)

    # Now we get the actual data from which we want to generate predictions.
    #data = pd.read_csv("forward_sample.csv", index_col="Date")
    data = lastest_keystat
    data.dropna(axis=0, how="any", inplace=True)
    features = data.columns[1:-4]
    X_test = data[features].values
    z = data["ticker"].values

    # Get the predicted tickers
    y_pred = clf.predict(X_test)
    if sum(y_pred) == 0:
        print("No stocks predicted!")
    else:
        invest_list = z[y_pred].tolist()
        print(
            f"{len(invest_list)} stocks predicted to outperform the S&P500 by more than {OUTPERFORMANCE}%:"
        )
        print(" ".join(invest_list))
        return invest_list


if __name__ == "__main__":
    print("Building dataset and predicting stocks...")
    predict_stocks()

Building dataset and predicting stocks...
31 stocks predicted to outperform the S&P500 by more than 10%:
ACOM ADS ATLS BE BGNE BTU CHMP CPRX FKWL GSB GTMM HESM IRTC PRKR PS RNVA SGRP STAF TDOC VALV WINMQ ZSTN TEAM SHOP NESR ATCX AWH HYMC FVRR MESO GRBX