In [152]:
import pandas as pd
from pandas_datareader import data as pdr
from datetime import datetime

In [167]:
df_raw = pd.read_csv(r"SHARADAR_SF1.csv",index_col="calendardate")

In [168]:
is_ARQ = df_raw['dimension'] == 'ARQ'
df_Quarter = df_raw[is_ARQ]
df_Quarter.head()

,ticker,dimension,datekey,reportperiod,lastupdated,accoci,assets,assetsavg,assetsc,assetsnc,...,sharesbas,shareswa,shareswadil,sps,tangibles,taxassets,taxexp,taxliabilities,tbvps,workingcapital
calendardate,,,,,,,,,,,,,,,,,,,,,
3/31/2010,A,ARQ,6/7/2010,4/30/2010,9/1/2020,-239000000.0,7.767000e+09,NaN,5.712000e+09,2.055000e+09,...,348062907.0,348000000.0,354000000.0,3.652,6.997000e+09,0.0,31000000.0,0.0,20.106,3.003000e+09
6/30/2010,A,ARQ,9/7/2010,7/31/2010,9/1/2020,-225000000.0,9.100000e+09,NaN,5.735000e+09,3.365000e+09,...,346370351.0,347000000.0,352000000.0,3.988,7.188000e+09,0.0,22000000.0,0.0,20.715,2.818000e+09
9/30/2010,A,ARQ,12/20/2010,10/31/2010,9/1/2020,-88000000.0,9.696000e+09,NaN,6.169000e+09,3.527000e+09,...,347604202.0,344000000.0,356000000.0,4.581,7.746000e+09,0.0,-49000000.0,0.0,22.517,3.086000e+09
12/31/2010,A,ARQ,3/9/2011,1/31/2011,9/1/2020,-63000000.0,8.044000e+09,NaN,4.598000e+09,3.446000e+09,...,345122160.0,347000000.0,355000000.0,4.378,6.129000e+09,0.0,5000000.0,0.0,17.663,3.192000e+09
3/31/2011,A,ARQ,6/7/2011,4/30/2011,9/1/2020,278000000.0,8.649000e+09,NaN,5.096000e+09,3.553000e+09,...,348045143.0,347000000.0,355000000.0,4.833,6.601000e+09,0.0,60000000.0,0.0,19.023,3.504000e+09

In [169]:
df_Quarter.shape

(209342, 110)

In [170]:
df_Quarter.to_csv('keystats.csv')

In [28]:
START_DATE = "2010-01-01"
END_DATE = "2020-11-01"

In [29]:
def build_sp500_dataset(start=START_DATE, end=END_DATE):
    """
    Creates the dataset containing S&P500 prices
    :returns: sp500_index.csv
    """
    index_data = pdr.get_data_yahoo("SPY", start=START_DATE, end=END_DATE)
    index_data.to_csv("sp500_index.csv")

In [30]:
build_sp500_dataset()

In [ ]:
ticker_list = df_Quarter.ticker.drop_duplicates().tolist()
ticker_list

In [36]:
def build_stock_dataset(start=START_DATE, end=END_DATE):
    """
    Creates the dataset containing all stock prices
    :returns: stock_prices.csv
    """
    ticker_list = df_Quarter.ticker.drop_duplicates().tolist()

    # Get all Adjusted Close prices for all the tickers in our list,
    # between START_DATE and END_DATE
    all_data = pdr.get_data_yahoo(ticker_list, start, end)
    stock_data = all_data["Adj Close"]

    # Remove any columns that hold no data, and print their tickers.
    stock_data.dropna(how="all", axis=1, inplace=True)
    missing_tickers = [
        ticker for ticker in ticker_list if ticker.upper() not in stock_data.columns
    ]
    print(f"{len(missing_tickers)} tickers are missing: \n {missing_tickers} ")
    # If there are only some missing datapoints, forward fill.
    stock_data.ffill(inplace=True)
    stock_data.to_csv("stock_prices.csv")

In [ ]:
build_stock_dataset()

In [180]:
data_df = pd.read_csv("keystats.csv", index_col="calendardate")

In [105]:
data_df.dropna(axis=1, how="all", inplace=True)
data_df.head()

,Unnamed: 0,ticker,dimension,datekey,reportperiod,lastupdated,accoci,assets,assetsc,assetsnc,...,sharesbas,shareswa,shareswadil,sps,tangibles,taxassets,taxexp,taxliabilities,tbvps,workingcapital
calendardate,,,,,,,,,,,,,,,,,,,,,
3/31/2010,0,A,ARQ,6/7/2010,4/30/2010,9/1/2020,-239000000.0,7.767000e+09,5.712000e+09,2.055000e+09,...,348062907.0,348000000.0,354000000.0,3.652,6.997000e+09,0.0,31000000.0,0.0,20.106,3.003000e+09
6/30/2010,1,A,ARQ,9/7/2010,7/31/2010,9/1/2020,-225000000.0,9.100000e+09,5.735000e+09,3.365000e+09,...,346370351.0,347000000.0,352000000.0,3.988,7.188000e+09,0.0,22000000.0,0.0,20.715,2.818000e+09
9/30/2010,2,A,ARQ,12/20/2010,10/31/2010,9/1/2020,-88000000.0,9.696000e+09,6.169000e+09,3.527000e+09,...,347604202.0,344000000.0,356000000.0,4.581,7.746000e+09,0.0,-49000000.0,0.0,22.517,3.086000e+09
12/31/2010,3,A,ARQ,3/9/2011,1/31/2011,9/1/2020,-63000000.0,8.044000e+09,4.598000e+09,3.446000e+09,...,345122160.0,347000000.0,355000000.0,4.378,6.129000e+09,0.0,5000000.0,0.0,17.663,3.192000e+09
3/31/2011,4,A,ARQ,6/7/2011,4/30/2011,9/1/2020,278000000.0,8.649000e+09,5.096000e+09,3.553000e+09,...,348045143.0,347000000.0,355000000.0,4.833,6.601000e+09,0.0,60000000.0,0.0,19.023,3.504000e+09

In [181]:
data_df.shape

(209342, 110)

In [93]:
def preprocess_price_data():
    """
    Currently, the sp500 and stock price datasets we downloaded do not have any data for
    days when the market was closed (weekends and public holidays). We need to amend this so that
    all rows are included. Doing this now saves a lot of effort when we actually create the
    keystats dataset, which requires that we have stock data every day.
    :return: SP500 and stock dataframes, with no missing rows.
    """
    # Read in SP500 data and stock data, parsing the dates.
    sp500_raw_data = pd.read_csv("sp500_index.csv", index_col="Date", parse_dates=True)
    stock_raw_data = pd.read_csv("stock_prices.csv", index_col="Date", parse_dates=True)

    # We will reindex to include the weekends.
    start_date = str(stock_raw_data.index[0])
    end_date = str(stock_raw_data.index[-1])
    idx = pd.date_range(start_date, end_date)
    sp500_raw_data = sp500_raw_data.reindex(idx)
    stock_raw_data = stock_raw_data.reindex(idx)

    # Now the weekends are NaN, so we fill forward these NaNs
    # (i.e weekends take the value of Friday's adjusted close).
    sp500_raw_data.ffill(inplace=True)
    stock_raw_data.ffill(inplace=True)

    return sp500_raw_data, stock_raw_data

In [94]:
sp500_df, stock_df = preprocess_price_data()

In [98]:
float(stock_df.loc['3/31/2010', 'A'])

22.61077880859375

In [99]:
stock_df

,A,AA,AACC,AAI,AAL,AAMC,AAME,AAN,AAOI,AAON,...,JT,ALGM,BDSX,AVIR,SQZ,GLTO,LU,LESL,ABST,UXIN
2010-01-04,20.579165,37.018944,7.15,0.87,4.496876,NaN,1.219827,14.249126,NaN,5.348952,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-05,20.355618,35.862801,7.27,0.87,5.005957,NaN,1.293756,14.378253,NaN,5.193753,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-06,20.283297,37.730419,6.82,0.87,4.798555,NaN,1.293756,14.378253,NaN,4.987716,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-07,20.257004,36.930008,6.55,0.87,4.939965,NaN,1.219827,14.494466,NaN,5.172348,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-08,20.250422,37.841591,6.59,0.87,4.845690,NaN,1.284515,14.397623,NaN,5.233891,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-10-26,104.629997,13.000000,6.51,0.50,11.800000,23.5,2.140000,56.660000,10.02,60.779999,...,4.640,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.42,0.936
2020-10-27,106.040001,13.030000,6.51,0.50,11.230000,23.0,2.130000,56.369999,9.96,60.099998,...,4.504,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.42,1.040
2020-10-28,101.660004,12.360000,6.51,0.50,10.950000,23.0,2.080000,54.720001,9.57,57.529999,...,4.328,NaN,12.81,NaN,NaN,NaN,NaN,NaN,11.10,0.992
2020-10-29,102.019997,12.750000,6.51,0.50,11.160000,23.5,2.080000,54.759998,9.36,58.980000,...,4.512,17.520000,12.85,NaN,NaN,15.36,NaN,20.910000,11.61,1.020
2020-10-30,102.089996,12.920000,6.51,0.50,11.280000,23.5,2.020000,52.259998,8.78,58.410000,...,3.740,18.299999,12.43,30.34,13.25,15.00,12.85,21.969999,11.28,0.960

In [204]:
stock_price = []
for i in range(data_df.shape[0]):
    try:
        stock_price.append(float(stock_df.loc[data_df.index[i], data_df.ticker[i]]))
    except KeyError:
        stock_price.append("N/A")

In [137]:
stock_price

209342

In [165]:
current_date = data_df.index[1]
one_month_date = datetime.strptime(current_date,"%m/%d/%Y") + timedelta(weeks = 4)
one_month_date = one_month_date.strftime("%m/%d/%Y")
one_month_date

'07/28/2010'

In [160]:
data_df.index[0]

'3/31/2010'

In [196]:
stock_price = []
sp500_price = []
stock_1m_price = []
sp500_1m_price = []
stock_p_change = []
sp500_p_change = []
#for i in range(data_df.shape[0]):
for i in range(100):    
    current_date = data_df.index[i]
    one_month_date = datetime.strptime(data_df.index[i],"%m/%d/%Y") + timedelta(weeks = 4)
    one_month_date = one_month_date.strftime("%m/%d/%Y")
    try:
        stock_price_i = float(stock_df.loc[data_df.index[i], data_df.ticker[i]])
        stock_1m_price_i = float(stock_df.loc[one_month_date, data_df.ticker[i]])
        sp500_price_i = float(sp500_df.loc[data_df.index[i], data_df.ticker[i]])
        sp500_1m_price_i = float(sp500_df.loc[one_month_date, data_df.ticker[i]])
        stock_p_change_i = round(
                ((stock_1m_price_i - stock_price_i) / stock_price_i * 100), 2
        )
        sp500_p_change_i = round(
                ((sp500_1m_price_i - sp500_price_i) / sp500_price_i * 100), 2
        )
    except KeyError:
    #    stock_price_i = "N/A"
    #    stock_1m_price_i = "N/A"
    #    sp500_price_i = "N/A"
    #    sp500_1m_price_i = "N/A"
    #    stock_p_change_i = "N/A"
    #    sp500_p_change_i = "N/A"
        continue
    stock_price.append(stock_price_i)
    stock_1m_price.append(stock_1m_price_i)
    sp500_price.append(sp500_price_i)
    sp500_1m_price.append(sp500_1m_price_i)   
    stock_p_change.append(stock_p_change_i)
    sp500_p_change.append(sp500_p_change_i)

In [197]:
len(stock_1m_price)

0

In [198]:
float(stock_df.loc[data_df.index[0], data_df.ticker[0]])

22.61077880859375

In [202]:
current_date = data_df.index[1]
current_date

'6/30/2010'

In [203]:
one_month_date = datetime.strptime(data_df.index[1],"%m/%d/%Y") + timedelta(weeks = 4)
one_month_date = one_month_date.strftime("%m/%d/%Y")
one_month_date

'07/28/2010'