In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import datetime
from yahoofinancials import YahooFinancials

In [8]:
keystats_new = pd.read_csv("keystats_new.csv", index_col="calendardate")
ticker_list = keystats_new.ticker.drop_duplicates().tolist()
ticker_list_a = ticker_list[:10]

In [9]:
yahoo_financials = YahooFinancials(ticker_list_a)

data = yahoo_financials.get_historical_price_data(start_date = '2010-01-01',
                                                  end_date = '2020-11-11',
                                                  time_interval = 'daily')

In [11]:
#data frame these stocks
stocks = pd.DataFrame({
      a: {x['formatted_date']: x['adjclose'] for x in data[a]['prices']} for a in ticker_list_a
})
stocks.index.names = ['Date'] # note the data columns are index. cuz in the dictionary: key: value. keys are indexes. 
stocks.round(2)

KeyError: 'prices'

In [3]:
from nbmultitask import ThreadWithLogAndControls

In [4]:
import builtins
from time import sleep
def print(x):
    builtins.print(2*x)

# the target function will be passed a function called `thread_print`
def fn(thread_print):
    i = 1
    # be careful with loops... (in order for the stop button to work)
    while i <= 5:
        thread_print('%i...' % i)
        sleep(1.5)
        i+=1

task = ThreadWithLogAndControls(target=fn, name="do some stuff")

In [5]:
task.control_panel()

Button(button_style='success', description='start', style=ButtonStyle())

Button(button_style='primary', description='watch', style=ButtonStyle())

Button(description='clear log', style=ButtonStyle())

Output()

In [6]:
import multiprocessing

def double(a):
    return a * 2

def driver_func():
    PROCESSES = 4
    with multiprocessing.Pool(PROCESSES) as pool:
        params = [(1, ), (2, ), (3, ), (4, )]
        results = [pool.apply_async(double, p) for p in params]

        for r in results:
            print('\t', r.get())

In [ ]:
driver_func()

In [ ]:
from multiprocessing import Pool

def f(x):
    return x**2

if __name__ == '__main__':-    pool = Pool(4)
    for res in pool.map(f,range(20)):
        print(res)

In [ ]:
df['pandas_SMA_3'] = df.iloc[:,1].rolling(window=3).mean()

In [3]:
stock_raw_data = pd.read_csv("stock_prices.csv", index_col="Date", parse_dates=True)

,A,AA,AAI,AAL,AAMC,AAOI,AAON,AAP,AAPL,AAWW,...,SHLDQ,SIMP,PCOA,HGLD,EDU,TAL,ZTNO,ZG,UXIN,APLS
Date,,,,,,,,,,,,,,,,,,,,,
2010-01-04,20.579165,37.018944,0.87,4.496876,NaN,NaN,5.348952,39.094307,6.539882,38.200001,...,62.962120,NaN,NaN,NaN,17.635777,NaN,66.500000,NaN,NaN,NaN
2010-01-05,20.355618,35.862801,0.87,5.005957,NaN,NaN,5.193753,38.861965,6.551187,40.310001,...,65.815117,NaN,NaN,NaN,17.966230,NaN,67.699997,NaN,NaN,NaN
2010-01-06,20.283297,37.730419,0.87,4.798555,NaN,NaN,4.987716,39.200817,6.446983,38.630001,...,67.075569,NaN,NaN,NaN,18.434954,NaN,65.849998,NaN,NaN,NaN
2010-01-07,20.257004,36.930008,0.87,4.939965,NaN,NaN,5.172348,39.191139,6.435065,38.950001,...,74.857147,NaN,NaN,NaN,18.737280,NaN,65.500000,NaN,NaN,NaN
2010-01-08,20.250422,37.841591,0.87,4.845690,NaN,NaN,5.233891,39.346043,6.477847,39.270000,...,74.849602,NaN,NaN,NaN,18.676348,NaN,67.750000,NaN,NaN,NaN

In [18]:
stock_raw_data.iloc[:,][50:70]

,A,AA,AAI,AAL,AAMC,AAOI,AAON,AAP,AAPL,AAWW,...,SHLDQ,SIMP,PCOA,HGLD,EDU,TAL,ZTNO,ZG,UXIN,APLS
Date,,,,,,,,,,,,,,,,,,,,,
2010-03-17,21.946722,32.220497,0.5,7.155407,NaN,NaN,5.742296,41.001587,6.848831,49.820000,...,79.076256,NaN,NaN,NaN,20.600466,NaN,68.500000,NaN,NaN,NaN
2010-03-18,21.999319,31.863974,0.5,7.070561,NaN,NaN,5.755675,41.146812,6.865027,50.349998,...,79.129089,NaN,NaN,NaN,19.930185,NaN,68.599998,NaN,NaN,NaN
2010-03-19,21.973024,31.774843,0.5,6.693464,NaN,NaN,5.809191,41.882614,6.791684,48.630001,...,78.200737,NaN,NaN,NaN,19.948938,NaN,72.000000,NaN,NaN,NaN
2010-03-22,22.170267,31.953108,0.5,6.853731,NaN,NaN,5.884114,42.250523,6.868082,48.520000,...,81.114113,NaN,NaN,NaN,20.366104,NaN,75.598999,NaN,NaN,NaN
2010-03-23,22.426682,32.309620,0.5,6.966859,NaN,NaN,5.972415,42.560318,6.978398,50.709999,...,82.155678,NaN,NaN,NaN,20.612181,NaN,72.500000,NaN,NaN,NaN
2010-03-24,22.288610,31.908543,0.5,6.985714,NaN,NaN,5.908195,42.065895,7.009264,50.160000,...,81.846230,NaN,NaN,NaN,20.101271,NaN,80.099998,NaN,NaN,NaN
2010-03-25,22.715975,31.440617,0.5,6.948004,NaN,NaN,5.846652,41.707180,6.926144,51.970001,...,82.487778,NaN,NaN,NaN,20.077835,NaN,77.099998,NaN,NaN,NaN
2010-03-26,22.558178,31.797129,0.5,6.882013,NaN,NaN,5.886790,41.183678,7.056019,52.869999,...,82.276443,NaN,NaN,NaN,19.923157,NaN,75.900002,NaN,NaN,NaN
2010-03-29,22.617355,32.175934,0.5,6.900869,NaN,NaN,5.889466,40.902527,7.101552,52.730000,...,82.827415,NaN,NaN,NaN,20.323917,NaN,78.000000,NaN,NaN,NaN
2010-03-30,22.762003,32.086788,0.5,6.806594,NaN,NaN,6.108882,40.941288,7.207284,53.230000,...,82.510422,NaN,NaN,NaN,20.309856,NaN,81.599998,NaN,NaN,NaN
2010-03-31,22.610779,31.730289,0.5,6.929150,NaN,NaN,6.052690,40.640751,7.181309,53.049999,...,81.838684,NaN,NaN,NaN,20.040339,NaN,74.401001,NaN,NaN,NaN
2010-04-01,22.715975,32.755280,0.5,6.976287,NaN,NaN,6.071420,41.067341,7.210952,53.279999,...,82.080208,NaN,NaN,NaN,20.138771,NaN,73.000000,NaN,NaN,NaN
2010-04-05,22.893496,32.822121,0.5,6.721746,NaN,NaN,6.173101,41.367870,7.287958,52.610001,...,81.853775,NaN,NaN,NaN,20.703583,NaN,72.500000,NaN,NaN,NaN
2010-04-06,22.722551,33.490604,0.5,6.674611,NaN,NaN,6.095504,41.261223,7.320046,51.810001,...,81.446205,NaN,NaN,NaN,21.055126,NaN,73.500000,NaN,NaN,NaN
2010-04-07,22.545034,32.844414,0.5,6.429497,NaN,NaN,6.087476,40.815266,7.352440,51.770000,...,80.087639,NaN,NaN,NaN,20.635620,NaN,73.099998,NaN,NaN,NaN
2010-04-08,22.347788,33.134087,0.5,7.117699,NaN,NaN,6.017904,40.960678,7.332576,52.790001,...,80.004616,NaN,NaN,NaN,20.581717,NaN,72.699997,NaN,NaN,NaN
2010-04-09,22.505587,32.064510,0.5,6.900869,NaN,NaN,6.052690,40.844345,7.388804,54.299999,...,80.782021,NaN,NaN,NaN,20.717648,NaN,72.500000,NaN,NaN,NaN
2010-04-12,22.492430,32.465599,0.5,7.183691,NaN,NaN,6.207887,41.115803,7.404083,55.939999,...,80.049896,NaN,NaN,NaN,20.712959,NaN,72.199997,NaN,NaN,NaN
2010-04-13,22.288610,31.953108,0.5,7.061133,NaN,NaN,6.178454,40.970383,7.408362,57.590000,...,80.321609,NaN,NaN,NaN,21.097311,NaN,72.000000,NaN,NaN,NaN
2010-04-14,22.623928,32.153645,0.5,6.995141,NaN,NaN,6.280134,43.898220,7.507982,58.240002,...,83.016106,NaN,NaN,NaN,21.842585,NaN,73.199997,NaN,NaN,NaN

In [19]:
stock_raw_data_avg = stock_raw_data.iloc[:,].rolling(window=60).mean()

In [20]:
stock_raw_data_avg.to_csv("stock_prices_avg.csv")